body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-color: #ffffff;
  color: #111827;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e5e7eb;
  position: relative;
}

.nav-left,
.nav-right {
  width: 20%;
  display: flex;
  align-items: center;
}

.nav-center {
  width: 60%;
  display: flex;
  justify-content: center;
}

.nav-left img {
  width: 70px;
  height: 70px;
}

.nav-right img{
  width: 170px;
  height: 70px;
}
.nav-icon {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.title {
  font-size: 3.5rem;
  color: #f97316;
  font-weight: bold;
  font-family: 'Jockey One', sans-serif;
}

.scan-header {
  text-align: center;
  margin: 2rem auto;
}

.scan-header .subheading {
  color: #f97316;
  font-size: 2.75rem;
  font-family: 'Jockey One', sans-serif;
  margin-bottom: 0.5rem;
}

.scan-header .description {
  font-size: 1.75rem;
  font-family: 'Inria Sans', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

.scanner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1400px;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .scanner-box {
    flex-direction: row;
    justify-content: center;
  }
}

.scanner-left, .scanner-right {
  background: #fff;
  border-radius: 8px;
  padding: 2.5rem;
}

.scanner-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  min-width: 750px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.scanner-left textarea {
  height: 350px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 1.75rem;
  font-size: 1.25rem;
  font-family: inherit;
  margin-bottom: 1.25rem;
}

.scanner-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.scan-btn {
  background-color: #06b6d4;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 1.25rem;
}

.scan-btn:hover {
  background-color: #FF5722;
}

.upload-label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  font-size: 1.125rem;
  color: #374151;
}

.char-count {
  font-size: 1rem;
  color: #6b7280;
  margin-left: auto;
}

.scanner-right {
  flex: 1;
  text-align: left;
  min-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.guide-title {
  font-size: 1.75rem;
  color: #f97316;
  font-weight: bold;
  margin-bottom: 1rem;
}

.guide-list {
  padding-left: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.9;
}

.cta-button-wrapper {
  margin: 4rem 0;
  text-align: center;
}

.cta-btn {
  background-color: #06b6d4;
  color: white;
  font-size: 2rem;
  padding: 1.25rem 2.75rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
}

.cta-btn:hover {
  background-color: #FF5722;
}
